<div class="container-fluid" style="background-color: white">
  <footer class="d-flex flex-wrap justify-content-between align-items-center">
    <p class="font-sans col-md-4 mb-0 text-muted">
      © 2023 NoteBox, Coded By Mohssin Aoulad
    </p>

    <a
      href="/"
      class="col-md-4 d-flex align-items-center justify-content-center mb-md-0 me-md-auto text-primary text-decoration-none fw-bold"
    >
      NoteBox
    </a>

    <ul class="nav col-md-4 justify-content-end">
      <li class="nav-item">
        <a href="/about" class="font-sans nav-link px-2 text-muted">About</a>
      </li>
    </ul>
  </footer>
</div>
