<div class="container-fluid container-fluid-custom" style="min-height: 78vh">
  <div class="row search-display">
    <% if(searchResults != '') { %> <% searchResults.forEach(function (note,
    index) { %>

    <a href="/dashboard/item/<%= note._id %>" class="my-1">
      <h4><%= note.title %></h4>
    </a>

    <% }) %> <% } else { %>
    <p>No items found.</p>
    <% } %>
  </div>
</div>
